*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#frtH{
    text-align: center;
    margin-bottom: 3%;
}
.main{
    width: 100%;
    height: 350px;
    background-color: rgb(68, 68, 65);
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.mian1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.mian1 img{
    width: 80%;
    height: 60%;
    border-radius: 5%;
}
.main1-2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1%;
}
.main1-2 img{
    height: 50%;
    width: 24%;
    border-radius: 3%;
}
.mian2{
    width: 50%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 4%;
    color: white;
}
